<% include partials/header %>

<h1 class="ui header" id="cinemas">Cinemas</h1>

<div class="cinemas">
  <div class="ui large horizontal link list cinemas">
    <div class="item cinemas">
        <a class="item">Jakarta</a>
    </div>
    <div class="item cinemas">
        <a class="item">Bandung</a>
    </div>
    <div class="item cinemas">
        <a class="item">Balikpapan</a>
    </div>
    <div class="item cinemas">
        <a class="item">Batam</a>
    </div>
    <div class="item cinemas">
        <a class="item">Bekasi</a>
    </div>
    <div class="item cinemas">
        <a class="item">Cirebon</a>
    </div>
    <div class="item cinemas">
        <a class="item">Depok</a>
    </div>
    <div class="item cinemas">
        <a class="item">Karawang</a>
    </div>
    <div class="item cinemas">
        <a class="item">Lampung</a>
    </div>
    <div class="item cinemas">
        <a class="item">Makassar</a>
    </div>
    <div class="item cinemas">
        <a class="item">Manado</a>
    </div>
    <div class="item cinemas">
        <a class="item">Mataram</a>
    </div>
    <div class="item cinemas">
        <a class="item">Medan</a>
    </div>
    <div class="item cinemas">
        <a class="item">Mojokerto</a>
    </div>
    <div class="item cinemas">
        <a class="item">Palembang</a>
    </div>
    <div class="item cinemas">
        <a class="item">Jakarta</a>
    </div>
    <div class="item cinemas">
        <a class="item">Jakarta</a>
    </div>
    <div class="item cinemas">
        <a class="item">Jakarta</a>
    </div>
    <div class="item cinemas">
        <a class="item">Jakarta</a>
    </div>
  </div>
</div>

<% include partials/footer %>
